/ServerApp/dist/
/ServerApp/nbproject/private/private.xml
/PanelWeb/nbproject/private/private.xml
/ServerApp/nbproject/private/private.xml~
/PanelWeb/nbproject/private/private.xml~
/ServerApp/nbproject/private/private.properties
/PanelWeb/nbproject/private/private.properties
/ServerApp/nbproject/project.properties
/PanelWeb/nbproject/project.properties
/PanelWeb/nbproject/private/
/ServerApp/build/
/.DS_Store
/PanelWeb/.DS_Store
/PanelWeb/nbproject/.
/PanelWeb/public_html/.DS_Store
/ServerApp/.DS_Store
/ServerApp/nbproject/.DS_Store
/ServerApp/src/.DS_Store
ServerApp/src/java/.DS_Store
/ServerApp/src/java/Business/.DS_Store
/ServerApp/src/java/Business/Entities/.DS_Store
/ServerApp/src/java/Business/Facade/.DS_Store
/ServerApp/src/java/Business/Interfaces/.DS_Store
/ServerApp/src/java/Business/Logic/.DS_Store
/ServerApp/src/java/Business/Logic/Controllers/.DS_Store
/ServerApp/src/java/Common/.DS_Store
/ServerApp/src/java/Common/DTO/.DS_Store
/ServerApp/src/java/DataAccess/.DS_Store
/ServerApp/src/java/DataAccess/Persistencia/.
/ServerApp/src/java/ServiceLayer/.DS_Store
/ServerApp/src/java/ServiceLayer/WS/.DS_Store
/ServerApp/src/lib/.DS_Store
/ServerApp/web/.DS_Store
/ServerApp/src/java/hibernate.cfg.xml
/PanelWeb/nbproject/customs.json
/ServerApp/dist/ServerApp.war
.gitignore~
ERRORES~
scriptBuckupsBD.sh~


/ServerApp/.jacocoverage



/ServerApp/nbproject/private/
/EnviarMail/nbproject/private/
/MailService/build/
/MailService/dist/
