<ion-view view-title="A Tu Servicio!">
    <ion-content class="padding masters inicio" ng-controller="ctrInicio">
        <div class="card cardM cardBorder" style="width: 100%;">
            <div class="item item-text-wrap" style="text-align: center;">
                <div class="imgInicio">
                    <div class="logoIDM"></div>
                </div>
                <h1 class="tituloInicio">{{titulo}}</h1>
                <p>
                    Esta aplicación ha sido pensada para brindarte los servicios que tu necesitas al alcance de tu mano.
                </p>
                <p>
                    Cuando requieras de un servicio público como los brindados por la Intendencia Departamental de Maldonado, puedes crear una solicitud de tu requerimiento.
                </p>
                <p>
                    Puedes realizar tus solicitudes anónimamente o con tu cuenta de usuario, lo cual te permitirá disfrutar de ciertos beneficios.
                </p>
                <p>
                    Esperamos te sea de utilidad.
                </p>

            </div>
        </div>
    </ion-content>
</ion-view>