<style>
    .form-group .help-block {
        display: none;
    }

    .form-group.has-error .help-block {
        display: block;
    }

</style>
<div class="" ng-controller="ctrEmpresa" ng-init="listarEmpresas()">       
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <center><h3>{{titulo}}</h3></center>
        </div>
        <div class="col-md-4">
            <div style="padding: 5px;" id="msgPanel"></div>
        </div>            
    </div>
    <hr>
    <div class="row"> 
        <div class="col-md-12">
            <form name="userForm"  class="form-horizontal" novalidate>
                <div class="row">
                    <br/>
                    <label style="text-align: left;" for="txtNombre" class="col-md-2 control-label">Nombre</label>
                    <div class="col-md-6 form-group" show-errors='{showSuccess: true}'>
                        <input type="text" class="form-control"  id="txtNombre" name="nombre" ng-maxlength="25" placeholder="Nombre empresa" ng-model="empresa.nombre" required/> 
                        <p class="help-block" ng-if="userForm.nombre.$error.required">Nombre requerido</p>
                        <p class="help-block" ng-if="userForm.nombre.$error.maxlength">El nombre no puede superar los 25 caracteres</p>
                    </div> 
                </div>
                <div class="row">
                    <br/>
                    <label style="text-align: left;" for="txtRut" class="col-md-2 control-label">RUT</label>
                    <div class="col-md-6 form-group" show-errors='{showSuccess: true}'>
                        <input type="number" class="form-control"  id="txtRut" name="rut" ng-maxlength="25" placeholder="RUT" ng-model="empresa.rut" required/> 
                        <p class="help-block" ng-if="userForm.rut.$error.required">RUT requerido</p>
                        <p class="help-block" ng-if="userForm.rut.$error.maxlength">El RUT no puede superar los 25 caracteres</p>
                        <p class="help-block" ng-if="userForm.rut.$error.number">Este campo solo acepta valores numéricos</p>
                    </div> 
                </div>

                <div class="row">
                    <br/>
                    <label style="text-align: left;" for="txtDescripcion" class="col-md-2 control-label">Descripción</label>
                    <div class="col-md-6 form-group" show-errors='{showSuccess: true}'>
                        <textarea class="form-control" rows="3" name="descripcion" ng-maxlength="256" id="txtDescripcion" ng-model="empresa.descripcion" placeholder="Descripción"></textarea>            
                        <p class="help-block" ng-if="userForm.descripcion.$error.maxlength">La descripción no puede superar los 256 caracteres </p>
                    </div>  
                </div>
                <div id="alta">
                    <button id="btnIngresar" class="btn btn-primary" ng-click="altaEmpresa()">Ingresar</button>
                    <button class="btn btn-default" ng-click="reset()">Limpiar</button>
                </div>
                <div id="edit">
                    <input type="button" id="btnConfirmar" class="btn btn-primary" ng-click="modificarEmpresa()" value="Confirmar" /> 
                    <input type="button" id="btnCancelar" class="btn btn-default" ng-click="cancelarModificacion()" value="Cancelar" /> 
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">        

        <div class="col-md-12" id="listadoEmpresa" >
            <br/>            
            <div class="gridStyle" id="gridEmpresa" ui-grid="gridOptions" ui-grid-save-state ui-grid-exporter ui-grid-pagination ui-grid-selection ui-grid-validate ui-grid-move-columns ui-grid-pinning ></div>
            <br/>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirmar solicitud</h4>
                        </div>
                        <div class="modal-body">
                            ¿Está seguro de que desea desactivar el area seleccionado?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button ng-controller="ctrEmpresa" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cambiarEstado(row); listarEmpresas()">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
