<div class="row" style="height: 80px;">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <center><h3>{{titulo}}</h3></center>
    </div>
    <div class="col-md-4">
        <div style="padding: 5px;" id="msgPanel"></div>
    </div>            
</div>
<div>    
    <div class="row" >    
        <div class="col-md-1" >
         </div>
        <div class="col-md-4 form-group" >
            <div class="row" >  
            <label for="select" class="col-md-6 control-label">Origen: </label>
            <select class="form-control col-md-6" id="itemSelect" name="idOrigen" ng-change="listarServicios()" ng-model="idOrigen" >
                <option  ng-repeat="ori in colOrigenes"  value="{{ori.clave}}">{{ori.descripcion}}</option>                                                                
            </select>  
            </div>
        </div>    
         <div class="col-md-1" >
         </div>
        <div class="col-md-4 form-group" >
            <div class="row" >  
            <label for="select" class="col-md-6 control-label">Tipo Ubicación: </label>
            <select class="col-md-6 form-control" id="itemSelect" name="idTipoUbic" ng-change="listarServicios()" ng-model="idTipoUbic" >
                <option  ng-repeat="tubi in colTipoUbic"  value="{{tubi.clave}}">{{tubi.descripcion}}</option>                                                                
            </select>    
            </div>
        </div>  
    </div> 
    <div class="row">        

        <div class="col-md-12" id="listadoServicio">
            <br/>            
            <div class="gridStyle" id="gridServicio" ui-grid="gridOptions" ui-grid-save-state ui-grid-exporter ui-grid-pagination ui-grid-selection ui-grid-validate ui-grid-move-columns ui-grid-pinning ></div>
            <br/>
        </div>

    </div>
</div>